@model ELDNET.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary text-white ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Student Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form>
            <div class="row">
                <div class="col-12">
                    <div class="row form-group mb-3">
                        <label asp-for="Firstname" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Firstname" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label asp-for="Lastname" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Lastname" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label asp-for="Course" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Course" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label asp-for="Email" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label asp-for="DateCreated" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DateCreated" disabled class="form-control" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <a asp-controller="Student" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" style="width:150px">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                <i class="bi bi-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>